@font-face {
    font-family: 'HakgyoansimBadasseugi';
    src: url('/static/fonts/Hakgyoansim Badasseugi TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'HakgyoansimChilpanjijgae';
    src: url('/static/fonts/Hakgyoansim Chilpanjiugae TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    src: url('/static/fonts/PretendardVariable.ttf') format('truetype');
}

body {
    height: 729px;
    margin: 0;
    padding: 0;
    background-color: #E2F5FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home-Container {
    width: 1100px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -232px;
    position: relative;
}

#Blog-Name {
    font-family: 'HakgyoansimChilpanjijgae', sans-serif;
    color: #0E0E0E;
    font-size: 60px;
    opacity: 0.7;
    font-weight: 600;
    margin: 0;
}

#Blog-Slogan {
    color: #0E0E0E;
    font-family: 'Pretendard', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.Text-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -130px;
    cursor: pointer;
}
