@font-face {
    font-family: 'HakgyoansimBadasseugi';
    src: url('/static/fonts/Hakgyoansim Badasseugi TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'HakgyoansimChilpanjijgae';
    src: url('/static/fonts/Hakgyoansim Chilpanjiugae TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    src: url('/static/fonts/PretendardVariable.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #E2F5FF;
    font-family: 'Pretendard', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* Chrome/Safari/Webkit */
}

#Home-Container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px; /* 글 작성하기 버튼을 위한 여백 */
}

.Text-Container {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;
}

#Blog-Name {
    font-family: 'HakgyoansimChilpanjijgae', sans-serif;
    color: #0E0E0E;
    font-size: 60px;
    opacity: 0.7;
    font-weight: 600;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

#Blog-Slogan {
    color: #0E0E0E;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.Posts-Container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
}

.post {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    transition: transform 0.3s ease;
}

.post:hover {
    transform: translateY(-5px);
}

.post-title {
    font-family: 'HakgyoansimBadasseugi', sans-serif;
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    cursor: pointer;
}

.post-content {
    margin-bottom: 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'HakgyoansimBadasseugi', sans-serif;
    line-height: 1.5;
    color: #444;
}

.post-hashtags {
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 14px;
}

.hashtag {
    display: inline-block;
    background-color: #e1f5fe;
    color: #0288d1;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.post-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.post-author {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-author i {
    margin-right: 5px;
    color: #0288d1;
}

.no-posts {
    text-align: center;
    color: #666;
    font-style: italic;
}

.comments-section {
    margin-top: 20px;
    border-top: 1px solid #0288d1;
    padding-top: 10px;
    font-family: 'Pretendard', sans-serif;
    background-color: #e3f2fd;
    border-radius: 8px;
    padding: 15px;
}

.comment {
    font-family: 'Pretendard', sans-serif;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #bbdefb;
    border-left: 4px solid #0288d1;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-form textarea {
    padding: 10px;
    font-family: 'Pretendard', sans-serif;
    width: 95%;
    margin-bottom: 10px;
    resize: vertical;
    border: 1px solid #0288d1;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s ease;
    resize: none;
}

.comment-form textarea:focus {
    outline: none;
    border-color: #01579b;
    box-shadow: 0 0 0 2px rgba(2, 136, 209, 0.2);
}

.comment-form textarea::placeholder {
    font-family: 'Pretendard', sans-serif;
    color: #90caf9;
}

.comment-form button {
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 8px 13px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-form button:hover {
    background-color: #01579b;
}

.write-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ffffff;
    color: #0288d1;
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    font-family: 'Pretendard', sans-serif;
    z-index: 1000;
}

.write-button:hover {
    background-color: #0288d1;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}