@font-face {
    font-family: 'HakgyoansimBadasseugi';
    src: url('/static/fonts/Hakgyoansim Badasseugi TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'HakgyoansimChilpanjijgae';
    src: url('/static/fonts/Hakgyoansim Chilpanjiugae TTF L.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    src: url('/static/fonts/PretendardVariable.ttf') format('truetype');
}

body {
    height: 729px;
    margin: 0;
    padding: 0;
    background-color: #E2F5FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home-Container {
    width: 1100px;
    height: 500px;
    border-radius: 20px;
    background: rgba(180, 219, 255, 0.40);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    position: relative;
}

#Blog-Name {
    font-family: 'HakgyoansimChilpanjijgae', sans-serif;
    color: #0E0E0E;
    font-size: 60px;
    opacity: 0.7;
    font-weight: 600;
    margin: 0;
}

#Blog-Slogan {
    color: #0E0E0E;
    font-family: 'Pretendard', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.Text-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -130px;
    cursor: pointer;
}

.Circle-Container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: -100px;
    margin-top: 110px;
}

#OneCircle, #TwoCircle, #ThreeCircle, #FourCircle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #FFFF;
    border: #B4DBFF66;
}

.bi {
    font-size: 20px;
}

#SmallContent1 {
    width: 100%;
    height: 100%;
    border-radius: 20px; /* Home-Container의 border-radius와 동일하게 설정 */
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    resize: none;
    padding: 30px; /* 텍스트 입력 영역의 여백 */
    font-family: 'HakgyoansimBadasseugi';
    font-size: 18px;
    color: #0E0E0E;
    outline: none; /* 포커스 시 외곽선 제거 */
    border: none;
}

#OneCircle:hover > i,
#TwoCircle:hover > i,
#ThreeCircle:hover > i,
#FourCircle:hover > i {
    color: #5357c3;
}

#Hashtag-Container {
    font-family: 'Pretendard';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    padding: 20px;
}

#hashtagInput {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #B4DBFF66;
    margin-bottom: 10px;
    font-size: 12px;
}

#hashtagInput::placeholder {
    font-size: 12px;
}

#confirmHashtags {
    font-size: 12px;
    width: 100px;
    background-color: #8aa4f3;
    border: #8aa4f3;
}

span {
    font-size: 12px;
}

#ImagePreview {
    position: absolute; /* 이미지를 텍스트 입력 영역 위에 배치 */
    top: 10px; /* 텍스트 입력 영역 위쪽으로 더 가까이 위치 */
    left: 10px; /* 왼쪽으로 더 가까이 붙이기 */
    z-index: 2; /* 이미지 미리보기 영역을 텍스트 입력 영역 위에 위치시키기 */
}

#hashtagList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

#hashtagList span {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.SmallContent textarea {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem; /* 원래 테두리 스타일 */
    padding: 10px;
    resize: none; /* 크기 조정 불가 */
}

.ImagePreview {
    display: flex;
    flex-direction: column; /* 세로로 쌓기 */
    margin-top: 10px;
}

.ImagePreview img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px; /* 이미지 간격 */
}
