<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>얼렁뚱땅 블로그</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bloghome.css') }}">
</head>
<body>
    <main id="Home-Container">
        <section class="Text-Container">
            <p id="Blog-Name">얼렁뚱땅 블로그</p>
            <p id="Blog-Slogan">" 당신의 특별한 순간을 소중히 기록하세요. "</p>
        </section>

        <section class="Posts-Container">
            {% for item in posts %}
                <div class="post">
                    <h2>포스트 #{{ item.post.id }}</h2>
                    <p class="post-author">작성자: {{ item.username }}</p>
                    <p class="post-content">{{ item.post.content }}</p>
                    {% if item.post.hashtags %}
                        <p class="post-hashtags">{{ item.post.hashtags }}</p>
                    {% endif %}
                    {% if item.post.image_filename %}
                    {% for filename in item.post.image_filename.split(', ') %}
                        <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="포스트 이미지" class="post-image">
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor %}
        </section>
    </main>
</body>
</html>