<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>얼렁뚱땅 블로그</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='join.css') }}">
</head>
<body>
    <main id="Home-Container">
        <section class="Text-Container">
            <p id="Blog-Name">얼렁뚱땅 블로그</p>
            <p id="Blog-Slogan">" 당신의 특별한 순간을 소중히 기록하세요. "</p>
        </section>
        <section class="Button-Container"> 
            <input id="Join-Button" type="button" value="회원 가입"/>
        </section>
    </main>
</body>
</html>
